<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework Helper</title>
    <link rel="stylesheet" href="..\static\css\header.css"/>
    <link rel="stylesheet" href="..\static\css\about_page_styles.css"/>
    <link rel="stylesheet" href="..\static\css\roots.css"/>
    <link rel="stylesheet" href="..\static\css\footer.css"/>
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <h1>WEBSITE NAME</h1>
        </div>
        <div class="menu-container">
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="/leaderboard">LEADERBOARD</a></li>
                <li><a href="/store">STORE</a></li>
                <li><a>ABOUT</a></li>
                <li><a href="/profile">PROFILE</a></li>
            </ul>
        </div>
        <div class="search-wrap">
            <div class="search">
               <input type="text" class="searchTerm" placeholder="What are you looking for?">
               <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
            </div>
         </div>
    </div>
    <div class="body">
        <div class="description-container">
            <h1 class="title">
                About Us
            </h1>
            <h2 class="description">
                A Gamefied Homework Forum
            </h2>
        </div>
        <div class="about-us-text"> 
            <h1>
                <b>Website name</b> is an online, free-to-use platform that transforms the common help forum into a learning game. 
                Giving out helpful responses allows users to climb up the leaderboard through the accumulation of gold, an in-game currency. However, 
                the quality of a response is judged by the questioner themselves which invites friendly competition as well as the need for 
                field expertise. 
            </h1>
        </div>
    </div>
    <div class="footer">
        <h1><i>@copyright 2025</i></h1>
    </div>
</body>
</html>