<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="..\static\css\browser_styles.css"/>
    <link rel="stylesheet" href="..\static\css\header.css"/>
    <link rel="stylesheet" href="..\static\css\footer.css"/>
    <link rel="stylesheet" href="..\static\css\roots.css"/>

    <script src="..\static\js\create_browser_post.js"></script>
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <h1>WEBSITE NAME</h1>
        </div>
        <div class="menu-container">
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="/leaderboard">LEADERBOARD</a></li>
                <li><a href="/store">STORE</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/profile">PROFILE</a></li>
            </ul>
        </div>
        <div class="search-wrap">
            <div class="search">
               <input type="text" class="searchTerm" placeholder="What are you looking for?">
               <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
            </div>
         </div>
    </div>
    <div class="scroll-container">
        <div class="filter-container">

        </div>
        <div class="posts-container">
            <ul class="posts-list">
            <!-- example post
                <li class="post"> 
                    <div class="post-information-container">
                        <a class="post-user-info">
                            <div class="post-pfp-container">
                                <img src="">
                            </div>
                            <h1 class="post-username">Username</h1>
                        </a>
                        <a href="\post" class="post-title">Test post title</a>
                    </div>
                    <div class="post-tag-container">
                        <h1 class="post-tag">Math</h1>
                        <h1 class="post-tag">Homework</h1>
                    </div>
                </li>
            -->
            </ul>
            
        </div>
    </div>
    <div class="footer">
        <h1><i>@copyright 2025</i></h1>
    </div>
<script>
    posts = {{ posts | tojson }}
    for (var i =0; i < posts.length; i++) {
        var post = posts[i];
        createPost(post.poster, post.title, "", post.topic);
    }
</script>
</body>
</html>