<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework Helper</title>
    <link rel="stylesheet" href="\static\css\header.css"/>
    <link rel="stylesheet" href="\static\css\home_styles.css"/>
    <link rel="stylesheet" href="\static\css\roots.css"/>
    <link rel="stylesheet" href="\static\css\footer.css"/>
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <h1>WEBSITE NAME</h1>
        </div>
        <div class="menu-container">
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a>LEADERBOARD</a></li>
                <li><a>STORE</a></li>
                <li><a>ABOUT</a></li>
                <li><a>PROFILE</a></li>
            </ul>
        </div>
        <div class="search-wrap">
            <div class="search">
               <input type="text" class="searchTerm" placeholder="What are you looking for?">
               <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
            </div>
         </div>
    </div>
    <div class="body">
        <div class="description-container">
            <h1 class="title">
                Website name
            </h1>
            <h2 class="description">
                some super cheesy slogan or smth
            </h2>
        </div>
        <div class="button-container"> 
            <a href="/post" class="view-posts-button"><h1>Browse Posts</h1></a>
            <a href="\static\templates\css\main_styles.css" class="make-post-button"><h1>Create a Post</h1></a>
        </div>
    </div>
    <div class="footer">
        <h1><i>@copyright 2025</i></h1>
    </div>
</body>
</html>