<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework Helper</title>
    <link rel="stylesheet" href="\templates\static\css\styles.css"/>
</head>
<body>
    <div class="header">
        <div class="logo-container">

        </div>
        <div class="menu-container">
            <ul>
                <li><a>HOME</a></li>
                <li><a>LEADERBOARD</a></li>
                <li><a>STORE</a></li>
                <li><a>ABOUT</a></li>
                <li><a>PROFILE</a></li>
            </ul>
        </div>
        <div class="search-wrap">
            <div class="search">
               <input type="text" class="searchTerm" placeholder="What are you looking for?">
               <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
            </div>
         </div>
    </div>
    <div class="body">

    </div>
    <div class="footer">

    </div>
</body>
</html>