<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="\static\css\main_styles.css"/>
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <h1>WEBSITE NAME</h1>
        </div>
        <div class="menu-container">
            <ul>
                <li><a>HOME</a></li>
                <li><a>LEADERBOARD</a></li>
                <li><a>STORE</a></li>
                <li><a>ABOUT</a></li>
                <li><a>PROFILE</a></li>
            </ul>
        </div>
        <div class="search-wrap">
            <div class="search">
               <input type="text" class="searchTerm" placeholder="What are you looking for?">
               <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
            </div>
         </div>
    </div>
    <div class="scroll-container">
        <div class="post-container">
            <div class="topics-container">
                <ul class="topics-list">
                    <li class="topic"><h1>Topic 1</h1></li>
                    <li class="topic"><h1>Topic 2</h1></li>
                    <li class="topic"><h1>Topic 3</h1></li>
                </ul>
            </div>
            <div class="user-container">
                <div class="profile-picture-container">

                </div>
                <h1 class="username">Username Goes Here</h1>
            </div>
            <div class="user-underline"></div>
            <div class="post-text-field">
                <h1 class="title">This is a post</h1>
                <h2 class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>
            </div>
            <div class="post-images">

            </div>
        </div>
        <div class="comments-container">
            <div class="create-comment-container">
                <input type="text" class="create-comment-field" placeholder="Write your comment here">
            </div>
            
            <ul class="comments-list">
                <li class="comment">
                    <div class="comment-user-container">
                        <div class="comment-profile-picture-container">

                        </div>
                        <h1 class="comment-username">Commenter Goes Here</h1>
                    </div>
                    <div class="comment-text-container">
                        <h1 class="comment-text">This is a test comment</h1>
                    </div>
                </li>
                <li class="comment">
                    <div class="comment-user-container">
                        <div class="comment-profile-picture-container">

                        </div>
                        <h1 class="comment-username">Commenter 2</h1>
                    </div>
                    <div class="comment-text-container">
                        <h1 class="comment-text">This is another test comment which tests wrapping: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h1>
                    </div>
                </li>
                <li class="comment">
                    <div class="comment-user-container">
                        <div class="comment-profile-picture-container">

                        </div>
                        <h1 class="comment-username">Commenter 2</h1>
                    </div>
                    <div class="comment-text-container">
                        <h1 class="comment-text">This is another test comment which tests wrapping: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h1>
                    </div>
                </li>
                <li class="comment">
                    <div class="comment-user-container">
                        <div class="comment-profile-picture-container">

                        </div>
                        <h1 class="comment-username">Commenter 2</h1>
                    </div>
                    <div class="comment-text-container">
                        <h1 class="comment-text">This is another test comment which tests wrapping: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h1>
                    </div>
                </li>
                <li class="comment">
                    <div class="comment-user-container">
                        <div class="comment-profile-picture-container">

                        </div>
                        <h1 class="comment-username">Commenter 2</h1>
                    </div>
                    <div class="comment-text-container">
                        <h1 class="comment-text">This is another test comment which tests wrapping: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h1>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <h1><i>@copyright 2025</i></h1>
    </div>
</body>
</html>