<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="\static\css\post_page_styles.css"/>
    <link rel="stylesheet" href="\static\css\header.css"/>
    <link rel="stylesheet" href="\static\css\roots.css"/>

    <script src="\static\js\create_post_focused.js"></script>
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <h1>WEBSITE NAME</h1>
        </div>
        <div class="menu-container">
            <ul>
                <li><a href=".\home.html">HOME</a></li>
                <li><a>LEADERBOARD</a></li>
                <li><a>STORE</a></li>
                <li><a>ABOUT</a></li>
                <li><a>PROFILE</a></li>
            </ul>
        </div>
        <div class="search-wrap">
            <div class="search">
               <input type="text" class="searchTerm" placeholder="What are you looking for?">
               <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
            </div>
         </div>
    </div>
    <div class="scroll-container">
        <div class="post-container">
            <div class="topics-container">
                <ul class="topics-list">
                </ul>
            </div>
            <div class="user-container">
                <div class="profile-picture-container">
                    <img class="profile-picture">
                </div>
                <h1 class="username">Username Goes Here</h1>
            </div>
            <div class="user-underline"></div>
            <div class="post-text-field">
                <h1 class="title">This is a post</h1>
                <h2 class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>
            </div>
            <div class="post-images"></div>
        </div>
        <div class="comments-container">
            <div class="create-comment-container">
                <input type="text" class="create-comment-field" placeholder="Write your comment here">
            </div>
            <ul class="comments-list"></ul>
        </div>
    </div>
    <div class="footer">
        <h1><i>@copyright 2025</i></h1>
    </div>
</body>
</html>