<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework Helper</title>
    <link rel="stylesheet" href="\static\css\header.css"/>
    <link rel="stylesheet" href="\static\css\profile_styles.css"/>
    <link rel="stylesheet" href="\static\css\roots.css"/>
    <link rel="stylesheet" href="\static\css\footer.css"/>
    <link rel="stylesheet" href="\static\css\pointer.css"/>

    <script src="\static\js\pointer_script.js"></script>
</head>
<body>
    <div class="pointer"></div>
    <div class="color-spot"></div>
    <div class="header">
        <div class="logo-container">
            <h1>WEBSITE NAME</h1>
        </div>
        <div class="menu-container">
            <canvas class="title-canvas"></canvas>
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="/leaderboard">LEADERBOARD</a></li>
                <li><a href="/store">STORE</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a>PROFILE</a></li>
            </ul>
        </div>
        <div class="search-wrap">
            <div class="search">
               <input type="text" class="searchTerm" placeholder="What are you looking for?">
               <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
            </div>
         </div>
    </div>
    <div class="body">
        <div class="user-container">
            <h1 class="user">
                Hello, {User}
            </h1>
            <h2 class="sub-text">
                View your information here
            </h2>
        </div>
        <div class="description"> 
            <h1>
                Change your cosmetics, settings, and more!
            </h1>
        </div>
        <a class="logout-button">Log out</a>
    </div>
    <div class="footer">
        <h1><i>@copyright 2025</i></h1>
    </div>
</body>
</html>