<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework Helper</title>
    <link rel="stylesheet" href="..\static\css\header.css"/>
    <link rel="stylesheet" href="..\static\css\about_page_styles.css"/>
    <link rel="stylesheet" href="..\static\css\roots.css"/>
    <link rel="stylesheet" href="..\static\css\footer.css"/>
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <h1>WEBSITE NAME</h1>
        </div>
        <div class="menu-container">
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="/leaderboard">LEADERBOARD</a></li>
                <li><a>STORE</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/profile">PROFILE</a></li>
            </ul>
        </div>
        <div class="search-wrap">
            <div class="search">
               <input type="text" class="searchTerm" placeholder="What are you looking for?">
               <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
            </div>
         </div>
    </div>
    <div class="body">
        <div class="description-container">
            <h1 class="title">
                Store
            </h1>
            <h2 class="description">
                Coming soon...
            </h2>
        </div>
        <div class="about-us-text"> 
            <h1>
                Purchase cosmetics, titles, passes, and more with gold!
            </h1>
        </div>
    </div>
    <div class="footer">
        <h1><i>@copyright 2025</i></h1>
    </div>
</body>
</html>