* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family1: "Times New Roman";
    --darkest-color: #0f0f0f;
    --primary-color: #202020;
    --primary-color-lighter: #4b4b4e;
    --text-primary-color: #dadeeb;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    top: 0vh;
    overflow: hidden;
    background-color: var(--primary-color);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    /* border: 0.2em red solid; */
    background-color: var(--darkest-color);
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header ul li {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkest-color);
    /* border: blue solid .1em; */
    margin: 0px 0.5vw;
    height: 7vh;
    width: 10vw;
}

.header ul li:hover {
    float: left;
    background-color: var(--primary-color-lighter);
}

.header ul li a {
    color: var(--text-primary-color);
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
}