/* ================= BROWSER SCROLL CONTAINER ================= */

.scroll-container {
    height: 90%;
    overflow-y: auto;
    background-image: linear-gradient(to bottom right, var(--primary-3), var(--secondary-1));
}

/* ================= FILTER ================= */

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 10%;
    height: 10vh;
    width: 80%;
    background-color: var(--darkest-color);
    border-radius: 20px;
    padding-bottom: 2vh;
    border-bottom: solid var(--primary-5) 10px;
    border-left: solid var(--primary-5) 10px;
    border-right: solid var(--primary-4) 10px;
    border-top: solid var(--primary-4) 10px;
    animation-name: filter-intro-anim;
    animation-duration: 1.3s; 
    animation-timing-function: cubic-bezier(.19,.04,.27,1.42);
    /* border: red solid .2em; */
}

@keyframes filter-intro-anim {
    from {
        opacity: 0;
        scale: .7;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

/* ================= POSTS ================= */

.posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh 10%;
    width: 80%;
    padding: 2vh 0;
    background-color: var(--darkest-color);
    border-radius: 20px;
    border-bottom: solid var(--primary-5) 10px;
    border-left: solid var(--primary-5) 10px;
    border-right: solid var(--primary-4) 10px;
    border-top: solid var(--primary-4) 10px;
    animation-name: post-comments-intro-anim;
    animation-duration: 1.5s; 
    animation-timing-function: cubic-bezier(.19,.04,.27,1.22);
}

@keyframes post-comments-intro-anim {
    from {
        margin: 15vh 10%;
        opacity: 0;
        scale: .7;
    }
    to {
        margin: 2vh 10%;
        opacity: 1;
        scale: 1;
    }
}

.posts-container .posts-list {
    width: 95%;
    height: auto;
    float: left;
    list-style: none;
}

.post {
    padding-left: 1vw;
    width: 100%;
    height: auto;
    margin: 2vh 0;
    padding-bottom: 5vh;
    border-left: var(--secondary-1) solid .15em;
}

#resolved {
    border-bottom: green solid .1em;
}

.post .post-information-container {
    display: flex;
    flex-direction: column;
    /* border: solid blue .1em; */
}

/* --------------- USER --------------- */

.post-user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 1vh;
}

.post-user-info:hover {
    background-color: var(--primary-4);
}

.post-user-info .post-pfp-container {
    width: 35px;
    height: 35px;
    margin: 5px;
    border-radius: 50%;
    border: var(--secondary-3) solid .15em;
}

.post-user-info .post-pfp-container img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.post-user-info .post-username {
    color: var(--secondary-2);
    font-size: 1.5em;
    margin-left: 0.5vw;
    font-weight: 0.8;
}

/* --------------- TITLE --------------- */

.post-information-container .post-title {
    cursor: pointer;
    text-decoration: none;
    font-size: 2em;
    color: var(--primary-1);
    margin-bottom: 1vh;
    padding: .25em;
    border-radius: 15px;
}

.post-information-container .post-title:hover {
    background-color: var(--primary-4);
}

/* --------------- TAGS --------------- */

.post-tag-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: auto;
    height: auto;
    float: left;
    list-style: none;
    margin-top: 1vh;
}

.post-tag-container .post-tag {
    color: var(--primary-2);
    font-size: 1em;
    margin-right: .5vw;
    padding: .2em;
    border-radius: 5px;
    border: solid var(--primary-3) .18em;
}