.body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--darkest-color);
}

.body .main-page {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: auto;
    padding: 2vh;
    width: 35%;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: solid var(--primary-2) 7px;
    border-left: solid var(--primary-2) 7px;
    border-right: solid var(--primary-3) 7px;
    border-top: solid var(--primary-3) 7px;
    z-index: 2;
}

/* --------------- LOGIN ELEMENTS --------------- */

.body .main-page .username-field, .password-field {
    width: 100%;
    height: 15%;
    margin: 2% 0;
    font-size: 2em;
    text-align: center;
    color: var(--primary-1);
    /* border: var(--darkest-color) solid .5em; */
    /* border: red solid .1em; */
}

.form-control {
    width: 20vw;
    height: 5vh;
    margin: 1vh 0;
    font-size: .8em;
    border-radius: 15px;
    text-align: center;
    color: var(--primary-1);
    background-color: var(--darkest-color);
    border: var(--primary-1) solid .12em;
    /* border: yellow solid .1em; */
}

.main-page .remember-field {
    color: var(--primary-1);
    text-align: center;
    font-size: 1.2em;
    /* border: red solid .1em; */
}

.body .main-page .submit-button {
    width: 60%;
    height: 5vh;
    border-radius: 25px;    
    margin: 20px 0;
    font-size: 2em;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    cursor: pointer;
    color: var(--primary-1);
    background-color: var(--primary-5);
    border: solid var(--primary-2) .1em;
}

.body .main-page .sign-in {
    width: 50%;
    height: 4vh;
    margin: 20px 0;
    font-size: 1.5em;
    border-radius: 25px;    
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    cursor: pointer;
    color: var(--primary-1);
    background-color: var(--primary-5);
    border: solid var(--primary-2) .1em;
}