* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family1: "Times New Roman";
    --darkest-color: #0f0f0f;
    --primary-color: #202020;
    --primary-color-lighter: #4b4b4e;
    --text-primary-color: #dadeeb;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    top: 0vh;
    overflow: hidden;
    background-color: var(--primary-color);
}

/* --------------- HEADER --------------- */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    background-color: var(--darkest-color);
    width: 100%;
}

/* --------------- WEBSITE LOGO --------------- */

.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2vw;
    height: 100%;
    border: red solid .1em;
    text-align: center;
    color: var(--text-primary-color);
}

/* --------------- HEADER MENU --------------- */

.header ul {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

.header ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 10vw;
}

.header ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--text-primary-color);
    font-size: 1.2em;
    text-align: center;
    background-color: var(--darkest-color);
    cursor: pointer;
}

.header ul li a:hover {
    background-color: var(--primary-color-lighter);
}

/* --------------- SEARCH BAR --------------- */

.search-wrap {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2vw;
    border: yellow solid .1em;
    height: 100%;
}

.search {
    display: flex;
    align-items: center;
    width: 100%;
}

.searchTerm {
    width: 100%;
    border: 2px solid red;
    border-right: none;
    padding: 5px;
    height: 4vh;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: var(--darkest-color);
}

.searchButton {
    width: 10%;
    height: 36px;
    border: 1px solid var(--text-primary-color);
    background: var(--text-primary-color);
    text-align: center;
    color: var(--darkest-color);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/* ================= POSTS ================= */

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10%;
    height: auto;
    width: 80%;
    border: red solid .2em;
}

/* --------------- TOPICS --------------- */

.topics-container {
    display: flex;
    width: 95%;
    height: 6vh;
    margin-top: 1vh;
    border: blue solid .2em;
}

.topics-list {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.topics-list li {
    margin-left: 1vw;
    list-style-type: none;
    border: yellow solid .2em;
}

.topics-list li h1 {
    font-size: 1.5em;
    color: var(--text-primary-color);
}

/* --------------- USER --------------- */

.user-container {
    display: flex;
    align-items: center;
    width: 95%;
    height: 6vh;
    margin: 1vh 0;
    border: blue solid .2em;
}

.profile-picture-container {
    width: 45px;
    height: 45px;
    margin: 5px;
    border-radius: 50%;
    border: yellow solid .15em;
}

.user-container .username {
    color: var(--text-primary-color);
    font-size: 1.5em;
    margin-left: 0.5vw;
}

/* --------------- TEXT FIELD --------------- */

.post-text-field {
    border: blue solid .15em;
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.post-text-field .title {
    border: yellow solid .15em;
    margin: 15px;
    color: var(--text-primary-color);
    font-size: 2em;
}

.post-text-field .description {
    border: yellow solid .15em;
    margin: 0 15px 15px 15px;
    height: auto;
    color: var(--text-primary-color);
    font-size: 1em;
}

/* --------------- IMAGES (OPTIONAL) --------------- */

.post-images {
    border: blue solid .15em;
    width: 95%;
    height: 5vh;
    margin-bottom: 1vh;
}

/* ================= COMMENTS ================= */

.comments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh 10%;
    height: 100%;
    width: 80%;
    border: red solid .2em;
}

.comments-list {
    float: left;
    list-style: none;
}

.comments-list .comment {
    
}

/* --------------- USER --------------- */

.comments-list .comment .comment-profile-picture-container {
    
}

.comments-list .comment .comment-username {
    
}

/* --------------- TEXT --------------- */

.comments-list .comment .comment-text-container {
    
}

.comments-list .comment .comment-text-container .comment-text {
    
}