/* ================= POST SCROLL CONTAINER ================= */

.scroll-container {
    height: 90%;
    overflow-y: auto;
}

/* ================= POSTS ================= */

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 10%;
    height: auto;
    width: 80%;
    background-color: var(--darkest-color);
    border-radius: 20px;
    padding-bottom: 2vh;
    border-bottom: solid var(--primary-5) 10px;
    border-left: solid var(--primary-5) 10px;
    border-right: solid var(--primary-4) 10px;
    border-top: solid var(--primary-4) 10px;
    animation-name: post-intro-anim;
    animation-duration: 2s; 
    animation-timing-function: cubic-bezier(.19,.04,.27,1.12);
    /* border: red solid .2em; */
}

@keyframes post-intro-anim {
    from {
        opacity: 0;
        scale: .6;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

/* --------------- TOPICS --------------- */

.topics-container {
    display: flex;
    width: 95%;
    height: 6vh;
    margin-top: 1.2em;
    /* border: blue solid .2em; */
}

.topics-list {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 10px;
}

.topics-list li {
    list-style-type: none;
    border: var(--primary-3) solid .15em;
    padding: 5px;
    border-radius: 10px;
}

.topics-list li h1 {
    font-size: 1.5em;
    color: var(--primary-1);
}

/* --------------- USER --------------- */

.user-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    height: auto;
    margin-top: 2vh;
    padding-bottom: 2vh;
    /* border: blue solid .2em; */
}

.profile-picture-container {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: var(--secondary-3) solid .15em;
}

.profile-picture-container img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.user-container .username {
    color: var(--secondary-2);
    width: 95%;
    font-size: 1.5em;
    margin-left: 0.5vw;
}

.user-underline {
    width: 95%;
    opacity: 0.5;
    border: solid var(--secondary-1) .15em;
    border-radius: 10px;
    margin-bottom: 5px;
    
    animation-name: username-intro-anim;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(.59,.26,.39,.96);
}

@keyframes username-intro-anim {
    from {
        opacity: 0;
        width: 0%;
    }
    to {
        opacity: .5;
        width: 95%;
    }
}

/* --------------- TEXT FIELD --------------- */

.post-text-field {
    /* border: blue solid .15em; */
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.post-text-field .title {
    /* border: yellow solid .15em; */
    margin: 1vh 0 1vh 0.5vw;
    color: var(--primary-1);
    font-size: 1.8em;
    font-weight: 0.5;
}

.post-text-field .description {
    /* border: yellow solid .15em; */
    margin: 0 15px 15px 15px;
    height: auto;
    color: var(--primary-2);
    font-size: 1em;
    font-weight: 1;
}

/* --------------- IMAGES (OPTIONAL) --------------- */

.post-images {
    border: var(--primary-3) solid .15em;
    border-radius: 25px;
    width: 95%;
    height: 5vh;
    margin-bottom: 1vh;
}

/* ================= COMMENTS ================= */

.comments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh 10%;
    width: 80%;
    padding: 2vh 0;
    background-color: var(--darkest-color);
    border-radius: 20px;
    border-bottom: solid var(--primary-5) 10px;
    border-left: solid var(--primary-5) 10px;
    border-right: solid var(--primary-4) 10px;
    border-top: solid var(--primary-4) 10px;
    animation-name: post-comments-intro-anim;
    animation-duration: 2s; 
    animation-timing-function: cubic-bezier(.19,.04,.27,1.12);
}

@keyframes post-comments-intro-anim {
    from {
        margin: 20vh 10%;
        opacity: 0;
        scale: .6;
    }
    to {
        margin: 2vh 10%;
        opacity: 1;
        scale: 1;
    }
}

.create-comment-container {
    /* border: green solid .15em; */
    width: 95%;
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.create-comment-container .create-comment-field {
    border-radius: 20px;
    width: 100%;
    margin: 5px;
    min-height: 5vh;
    padding-left: 10px;
    font-size: 1em;
    font-style: italic;
    font-weight: 1;
    height: auto;
    color: var(--primary-1);
    background-color: var(--darkest-color);
    border: solid var(--primary-2) .2em;
    outline: none;
}

.comments-list {
    /* border: purple solid .15em; */
    width: 95%;
    height: auto;
    gap: 1vh;
    float: left;
    list-style: none;
}

.comments-list .comment {
    border-left: var(--secondary-1) solid .15em;
    padding-left: 1vw;
    width: 100%;
    height: auto;
    margin: 3vh 0;
}

/* --------------- USER --------------- */

.comments-list .comment .comment-user-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 1vh 0;
    /* border: yellow solid .15em; */
}

.comments-list .comment .comment-profile-picture-container {
    width: 35px;
    height: 35px;
    margin: 5px;
    border-radius: 50%;
    border: var(--secondary-3) solid .15em;
}

.comments-list .comment .comment-profile-picture-container img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.comments-list .comment .comment-username {
    color: var(--secondary-2);
    font-size: 1.5em;
    margin-left: 0.5vw;
    font-weight: 0.8;
}

/* --------------- TEXT --------------- */

.comments-list .comment .comment-text-container {
    /* border: green solid .15em; */
}

.comments-list .comment .comment-text-container .comment-text {
    margin: 5px;
    height: auto;
    color: var(--primary-2);
    font-size: 1em;
    font-weight: 1;
}

/* ================= FOOTER ================= */

.footer {
    height: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkest-color);
}

.footer h1 {
    font-size: .5em;
    color: var(--text-primary-color);
}