* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family1: "Times New Roman";
    --darkest-color: #0f0f0f;
    --primary-color: #202020;
    --primary-color-lighter: #4b4b4e;
    --text-primary-color: #dadeeb;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    top: 0vh;
    overflow: hidden;
    background-color: var(--primary-color);
}

/* --------------- HEADER --------------- */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    background-color: var(--darkest-color);
    width: 100%;
}

/* --------------- WEBSITE LOGO --------------- */

.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2vw;
    height: 100%;
    border: red solid .1em;
}

/* --------------- HEADER MENU --------------- */

.header ul {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

.header ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 10vw;
}

.header ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--text-primary-color);
    font-size: 1.2em;
    text-align: center;
    background-color: var(--darkest-color);
    cursor: pointer;
}

.header ul li a:hover {
    background-color: var(--primary-color-lighter);
}

/* --------------- SEARCH BAR --------------- */

.search-wrap {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2vw;
    border: yellow solid .1em;
    height: 100%;
}

.search {
    display: flex;
    align-items: center;
    width: 100%;
}

.searchTerm {
    width: 100%;
    border: 2px solid red;
    border-right: none;
    padding: 5px;
    height: 4vh;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: var(--darkest-color);
}

.searchButton {
    width: 10%;
    height: 36px;
    border: 1px solid var(--text-primary-color);
    background: var(--text-primary-color);
    text-align: center;
    color: var(--darkest-color);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}