<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework Helper</title>
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div class="header">
        <div class="logo-container">

        </div>
        <div class="menu-container">
            <ul>
                <li><a>HOME</a></li>
                <li><a>LEADERBOARD</a></li>
                <li><a>STORE</a></li>
                <li><a>ABOUT</a></li>
                <li><a>PROFILE</a></li>
            </ul>
        </div>
    </div>
    <div class="body">

    </div>
    <div class="footer">

    </div>
</body>
</html>